<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <table class="table table-striped table-bordered">
                <thead>
                  <tr class="text-center">
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pallet of palletList" class="text-center">
                        <td>{{pallet.code}}</td>
                        <td>{{pallet.description}}</td>
                    </tr>       
                </tbody>
            </table>
        </div>
    </div>
</div>