<div class="container d-flex justify-content-center align-items-center">
  <div class="card">
    <div class="row">
      <div class="col-md-6">
        <form class="form" [formGroup]="signupForm">
          <h2>Registration</h2>
          <div class="inputbox mt-3">
            <span>Username</span>
            <input type="text" placeholder="Username" formControlName="username" class="form-control" />
            <span class="text-danger" *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')">*username is Requierd</span>

          </div>
          <div class="inputbox mt-3">
            <span>Email</span>
            <input type="text" placeholder="Email" formControlName="email" class="form-control" />
            <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">*Email is Requierd</span>
          </div>
          <div class="inputbox mt-3">
            <span>Password</span>
            <input type="password" placeholder="Password" formControlName="password" class="form-control" />
            <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">*password is Requierd</span>

          </div>
          <div class="inputbox mt-3">
            <span>Select Role</span>
            <select formControlName="usertype" class="form-select" >
              <option selected value=""> -- Select --</option>
              <option value="user" class="text-dark">User</option>
              <option value="admin" class="text-dark">Admin</option>
            </select>
            <span class="text-danger" *ngIf="signupForm.controls['usertype'].dirty && signupForm.hasError('required','usertype')">*usertype is Requierd</span>

          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="text-right">
              <button type="submit" [disabled]="!signupForm.valid" (click)="onSubmit()" class="btn btn-success register btn-block mt-2">
                Register
              </button>
            </div>
            <a routerLink="/account/login" class="login">Login</a>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="text-center mt-5">
          <img src="https://i.imgur.com/98GXnDD.png" width="400" />
        </div>
      </div>
    </div>
  </div>
</div>