<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="card">
            <div class="col-md-12">
                <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <h2>Login</h2>
                    <div class="inputbox mt-3">
                        <span>Email</span>
                        <input formControlName="email" type="text"  placeholder="Email" name="" class="form-control" />
                    </div>
                    <span class="text-danger" *ngIf="
              loginForm.controls['email'].dirty &&
              loginForm.hasError('required', 'email')
            ">*Email is Requierd</span>
                    <div class="inputbox mt-3">
                        <span>Password</span>
                        <input formControlName="password" type="password" placeholder="Password" name=""
                            class="form-control" />
                    </div>
                    <span class="text-danger" *ngIf="
              loginForm.controls['password'].dirty &&
              loginForm.hasError('required', 'password')
            ">*Password is Requierd</span>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-right">
                            <button type="submit" [disabled]="!loginForm.valid" 
                                class="btn btn-success register btn-block mt-2">
                                Login
                            </button>
                        </div>
                        <a routerLink="/account/register" class="login mx-5 text-success">Create Account</a>
                    </div>
                    <br />
                    <a routerLink="/account/forgit-password" class="login text-primary">Forget Password ?</a>
                </form>
            </div>
        </div>
    </div>
</div>