<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  
                        routerLink="/account/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/account/login">Login</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link active" [class.disabled]="isUser" aria-current="page"
                        *ngIf="isUserlogin && !isUser" routerLink="/all-user-management"> All User
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" *ngIf="isUserlogin"
                        routerLink="/user-management">Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/login" *ngIf="isUserlogin"
                        (click)="onLogout()">Logout</a>
                </li> -->

            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>